body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #F44336, #1976D2); /* Gradiente rojo a azul */
    margin: 0; /* Elimina el margen predeterminado del body */
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF; /* Blanco para buen contraste sobre el fondo de gradiente */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
